body{
    background-color: rgb(114, 242, 161);
    margin: 0;
    padding: 0;
}


.container{
    width:100%;
}
.todolist{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:10px;
}
.pclass{
    padding-top: 5px;
    padding-left: 5px;;
    justify-content: center;
    color:rgb(255, 255, 255);
    margin-bottom: 10px;
}
.h1list{
    padding-left:15px;
    display: flex;
    justify-content:baseline;
    margin-right: 115px;
}
.h2list2{
    padding:10px 30px;
    border:rgb(72, 185, 136) solid 1px;
    background-color: rgb(72, 185, 136);
    padding-top:2px;
    border-radius: 20px;
    width: 350px;
    display: flex;
    justify-content: center; 
    margin-right:206px;  
}
.h2list {
    display: flex;
    justify-content: center;
    padding:10px 30px;
    border:rgb(72, 185, 136) solid 1px;
    background-color: rgb(72, 185, 136);
    padding-top:2px;
    border-radius: 20px;
    width: 350px;
    margin:0px;   
}
.h2list{
    margin-right: 8px;
}
.isi{
    padding-left: 40px;
}
.kotak1{
    width:300px;
    height:300px;
    background-color:rgb(5, 238, 118);
    box-sizing: border-box;
    border: rgb(5, 238, 118) solid 2px;
    flex-direction: column;
    margin-left: 40px;
    padding-left: 10px;
    display:flex;
    justify-content:baseline;
    align-items:baseline;
}
.kotak2{
    width:300px;
    height:300px;
    background-color:rgb(5, 238, 118);
    box-sizing: border-box;
    border: rgb(7, 7, 7) solid 1px;
    margin-top: -290px;
    margin-left: 670px;
    flex-direction: column;
    display:flex;
    justify-content:flex-start;
    align-items:baseline;
    padding: 10px;
}
.kotak2 span{
    display: flex;
    justify-content: center;
    color: rgb(78, 2, 255);
    font-weight: bold ;
    border: #bb0efa solid 2px;
    border-radius: 5px;
    width: 270px;
}

.kotak3{
    width:300px;
    height:300px;
    background-color:rgb(5, 238, 118);
    box-sizing: border-box;
    border: rgb(7, 7, 7) solid 1px;
    margin-top: -290px;
    margin-left: 985px;
    flex-direction: column;
    display:flex;
    justify-content:flex-start;
    align-items:baseline;
    padding-top:10px;
    padding-left: 20px;

}
.kotak3 span{
    display: flex;
    justify-content: center;
    color: rgb(78, 2, 255);
    font-weight: bold ;
    border: #bb0efa solid 2px;
    border-radius: 5px;
    width: 270px;
}
.kotak4{
    width:300px;
    height:300px;
    background-color:rgb(5, 238, 118);
    box-sizing: border-box;
    border: rgb(7, 7, 7) solid 1px;
    margin-top: 50px;
    margin-left: 985px;
    flex-direction: column;
    display:flex;
    justify-content:flex-start;
    align-items:baseline;
    padding-top:10px;
    padding-left: 20px;
}
.kotak4 span{
    display: flex;
    justify-content: center;
    color: rgb(78, 2, 255);
    font-weight: bold ;
    border: #bb0efa solid 2px;
    border-radius: 5px;
    width: 270px;
}
.kotak5{
    width:300px;
    height:300px;
    background-color:rgb(5, 238, 118);
    box-sizing: border-box;
    border: rgb(7, 7, 7) solid 1px;
    margin-top: -290px;
    margin-left: 670px;
    flex-direction: column;
    display:flex;
    justify-content:flex-start;
    align-items:baseline;
    padding: 10px;
}
.kotak5 span{
    display: flex;
    justify-content: center;
    color: rgb(78, 2, 255);
    font-weight: bold ;
    border: #bb0efa solid 2px;
    border-radius: 5px;
    width: 270px;
}
.kotak6{
    width:300px;
    height:300px;
    background-color:rgb(5, 238, 118);
    box-sizing: border-box;
    border: rgb(7, 7, 7) solid 1px;
    margin-top: 40px;
    margin-left: 670px;
    flex-direction: column;
    display:flex;
    justify-content:flex-start;
    align-items:baseline;
    padding: 10px;
}
.kotak6 span{
    display: flex;
    justify-content: center;
    color: rgb(78, 2, 255);
    font-weight: bold ;
    border: #bb0efa solid 2px;
    border-radius: 5px;
    width: 270px;
}
.kotak7{
    width:300px;
    height:300px;
    background-color:rgb(5, 238, 118);
    box-sizing: border-box;
    border: rgb(7, 7, 7) solid 1px;
    margin-top: -290px;
    margin-left: 985px;
    flex-direction: column;
    display:flex;
    justify-content:flex-start;
    align-items:baseline;
    padding-top:10px;
    padding-left: 20px;
}
.kotak7 span{
    display: flex;
    justify-content: center;
    color: rgb(78, 2, 255);
    font-weight: bold ;
    border: #bb0efa solid 2px;
    border-radius: 5px;
    width: 265px;
}
.tombol{
    margin-top: 115px;
    display:flex;
    margin-right: 90px;
    align-items: center;
    justify-content: flex-end;
}
.tekan:hover{
    cursor:progress;
}
.btn-tekan{
    text-decoration:none;
    color: #050404;
}
input[type="text"]{
    display: block;
    justify-content: baseline;
    width: 90px;
    height: 15px;
    padding:5px;
    margin-top: 15px;
}
.input{
    display: flex;
    justify-content:flex-start;
    gap:15px;
    align-items: center;
}
input{
    width:150px;
    padding:5px;   
}
.label1{
    justify-content: baseline;
    margin-top: 10px;
    margin-right: 5px;
}
.tekan2{
  display: flex;
  justify-content: space-between;
}
.tekann{
    margin-left: 270px;
    margin-top:-30px;
}
.item-radio{
    display:flex;
    align-items:center;
    justify-content: baseline;
    margin-bottom: 10px;
    margin-right: -20px;

}
input [type="radio"]{
   
    cursor: pointer;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

label{
    margin:0px;
    cursor:pointer;
    font-size: 16px;
}
.kata{  
    display: flex;
    justify-content: baseline;
    padding-left: 5px;
    padding-top:4px;
}

.input2, .radio1, .item-radio label {
    margin: 0;
    font-size: 17px;
    padding-left: 8px;
}
.input2{
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 7px;
    margin-bottom: 5px;
    width:15px;
}
.tekann2{
    margin-left: 900px;
    margin-top:-30px;
}
.tekann3{
    margin-left: 1225px;
    margin-top:-30px;
}
.tekann4{
    margin-left: 900px;
    margin-top:-30px;
}
.tekann5{
    margin-left: 1227px;
    margin-top:-30px;
}
.tekann6{
    margin-left: 900px;
    margin-top:-30px;
}