.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    background-color: rgb(223, 237, 237);
}
    
.div1 {
    grid-row: span 5 / span 5;
    background-color: aqua;
    height: 500px;
}

.div2 {
    grid-column: span 4 / span 4;
    background-color: rgb(246, 247, 247);
}