body{
    background-color: rgb(114, 242, 161);
    margin: 0;
    padding: 0;
}


.container{
    width:100%;
}
.todolist{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:10px;
}
.pclass{
    padding-top: 5px;
    padding-left: 5px;;
    justify-content: center;
    color:rgb(255, 255, 255);
    margin-bottom: 10px;
}
.h1list{
    padding-left:15px;
    display: flex;
    justify-content:baseline;
    margin-right: 115px;
}
.h2list, .h2list2{
    padding:10px 30px;
    border:rgb(72, 185, 136) solid 1px;
    background-color: rgb(72, 185, 136);
    border-radius: 20px;
    width: 350px;
    margin:0px;
    
}
.isi{
    padding-left: 40px;
}
.kotak1{
    width:300px;
    height:300px;
    background-color:rgb(5, 238, 118);
    box-sizing: border-box;
    border: rgb(5, 238, 118) solid 2px;
    flex-direction: column;
    display:flex;
    justify-content:baseline;
    align-items:baseline;
}
.tombol{
    margin-top: 115px;
    display:flex;
    margin-right: 90px;
    align-items: center;
    justify-content: flex-end;
}
.tekan:hover{
    cursor:progress;
}
.btn-tekan{
    text-decoration:none;
    color: #050404;
}
input[type="text"]{
    display: block;
    justify-content: baseline;
    width: 90px;
    height: 15px;
    padding:5px;
    margin-top: 15px;
}
.input{
    display: flex;
    justify-content:flex-start;
    gap:15px;
    align-items: center;
}
input{
    width:150px;
    padding:5px;   
}
.label1{
    justify-content: baseline;
    margin-top: 10px;
    margin-right: 5px;
}
.tekan2{
  display: flex;
  justify-content: space-between;
}
.tekann{
    margin-left: 230px;
    margin-top:-30px;
}
.isi2{
    background-color:rgb(5, 238, 118);
    width: 300px;
    height: 300px;
    border: #050404 solid 1px;
    margin-top: -285px;
    margin-left: 1015px

}
.kata{  
    display: flex;
    justify-content: baseline;
    padding-left: 5px;
    padding-top:4px;
}
