.dashboard-wrpapper{
    display:flex;
    min-height: 100vh;
    background-color:#f8f9fe;
}
.sidebar{
    width: 250px;
    background-color: #ffff;
    border-right: 1px solid #e0e0e0;
    padding: 20px;
}
.sidebar a{
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px 0;
    text-align: left;
}
.sidebar a:hover{
    color:#5a32a3;
}
li{
    list-style: none;
    margin-bottom: 20px;
    justify-content: left;
}
.hero-banner{
    background-color: #e0e0e0;
    border-radius: 20px;
    padding: 40px;
    margin:20px;
    display: flex;
    justify-content:  space-between;
    align-items: center;
    box-shadow:0 4px 15px rgba(0,0,0,0.05);
}
.hero-text h1{
    color: #8e8e8e;
    font-size: 18px;
    margin-bottom: 25px;
}
.btn-schedule{
    background-color:#5a32a3;
    color:white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.btn-schedule:hover{
    background-color:#45267d;
    transform: translateY(-2px);
}
.hero-image img{
    width: 300px;
}