body{
    font-family: Arial, sans-serif;
    background-color: #ab9d9d;
    margin: 0;
    padding: 0;
}
p.warna{
    color: rgb(21, 39, 176);
    text-align: center;
    padding-top: 20px;
    font-size: 32px;
}