body{
    font-family: Arial, sans-serif;
    background-color: #ab9d9d;
    background-color: #ab9d9d;
    margin: 0;
    padding: 0;
}

.guwa{
    margin: 0px;
    padding:0px;
}
.title{
    background-color:#7a847b ;
    box-sizing: border-box;
    border:#7896a2 solid;
}
.container{
    padding: 20px;
    display:flex;
    align-items:flex;
    gap:10px;
}

.kotak11{
    width :200px;
    height: 200px;
    background-color: #749275;
    border: #4CAF50 solid 2px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items:center;
    box-sizing: border-box;
}
.kotak22{
    width :200px;
    height: 200px;
    background-color: #f4a261;
    border: #264653 solid 2px;
    box-sizing: border-box;
    display: flex;
    justify-content: center ;
    align-items: center;
    margin-right: 20px;
}
.kotak32{
    width: 200px;
    height: 200px;
    margin-top: -214px;
    margin-left:230px;
    background-color:#264653;
    color:#eef5f2;
    box-sizing: border-box;
    border:#750e0e solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.kotak44{
    height: 200px;
    width:200px;
    background-color:#88ea07;
    box-sizing: border-box;
    border:#61e390 solid;
    margin-top: -437px;
    margin-left: 230px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.middle{
    display:grid;
    padding:10px;
    gap:10px;
}
.mid1{
    margin: 210px 20px 0 0;
    box-sizing: border-box;
    border:#749275 ridge 2px;
    width: 100%;
    height:250px;
    background-color: #750e0e;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#ffffff;
}
.mid12{
    box-sizing: border-box;
    border: #264653 solid;
    width:100px;
    height:100px;
    background-color: #4b0585;
    margin-top:-230px;
    margin-left:20px;
    color:#ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    background-color:#bad6bb;
    border:solid #6f8471 2px;
    display: block;
    margin-left:48%;
    margin-top: -110px;
    cursor:pointer; 
}
.tekan{
    text-decoration: none;
    color: #264653;
    
}
.tekan:hover{
    text-decoration:none;
    border:none;
    
}
.box{
    width:200px;
    height:100px;
    margin: 0px 25px 0px 0px;
    background-color:#62c9f3;
    border:#000000 solid 2px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding:15px;
    color:#026841;

}
.label1{
    margin-right: 140px;
    color: #264653;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left:70px;
    margin-top:-20px
}
.chek{
    margin-left: -140px;
}
.ini{
    display:block;
    margin-bottom:5px;
}
.class-btn{
   margin-top: -120px;
   margin-left: 1300px;
   
}
.btn-tolist1{
    cursor:pointer;
    background-color:#f0f1f1;
    text-decoration:none;
    color:#000000;
}
.btn-tolist1:hover{
    text-decoration:none;
    background-color: #4CAF50;
}
.btn-tolist:hover{
    background-color:#66ffff; 
}

