*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(208, 230, 222);
}
.sidebar {
    width: 290px;
    height: 1000px;
    background-color: #ffffff;
    border-right: 1px solid #eee;
    padding: 25px;
    flex-shrink: 0;

}
.sidebar-logo h2{
    padding: 7px;
}
.nav-menu{
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-menu li a{
    color: #050505;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    border-radius: 8px;
    transition: 0.3s;
    text-align: left;
}
.nav-menu li a:hover{
    background-color: #f0ebf8;
    color: #5a32a3;
    text-decoration: none;
}
.nav-menu li a.active{
    background-color: #5a32a3;
    color: white;
    font-weight: 600;
}
.task{
    background-color:#a1a0a0;
    position: relative;
    left: 1120px;
    bottom:990px;
    padding: 20px;
    width: 400px;
    height: 400px;
    border-radius: 20px;
}
.task:hover{
    transform: translateY(15px);
}
.task-progres{
    display: flex;
    justify-content: center;
}
.task-progres h2{
    font-size: 20px;
    font-weight: 600;
}
.select-weeckly{
    position: relative;
    left: 260px;
}
.filter-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.chart-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 200px;
    padding-top: 20px;
}
.chart-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.bar-wrapper{
    background-color: #6309f5;
    width: 12px;
    height: 150px;
    border-radius:20px ;
    display: flex-end;
    margin-bottom:10px;
}
.bar{
    background-color: #d8d6db;
    border-radius: 10px;
}
.chart-column span{
    font-size: 12px;
    color: #060101;
}
.select-weeckly{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding:10px 40px 10px 20px;
    font-size: 14px;
    font-weight: 500;
    color:#4a4a4a;
    cursor: pointer;
    transition: all 0.3s ease;

    background-image: 
    url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%235a32a3%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Cpolyline%20points%3D%226%209%2012%2015%2018%209%22%3E%3C/polyline%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 16px;

    box-shadow:0 4px 6px rgba(0, 0, 0, 0.02);
}
.assignment{
    background-color: #d8d6db;
    position: relative;
    left: 500px;
    width: 400px;
    height: 400px;
    bottom: 1380px;
    border-radius: 20px;
}
.assignment-card h2{
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: 700;
    padding-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.assignment:hover{
    transform: translateY(15px);
}
.assignment-card span{
    padding-left: 11px;
}
.checkbox-container{
    border-radius: 8px;
    position: relative;
    transition: all 0.2 ease;
    top: 200px;
    left: 8px;
}
.checkbox-container:hover input ~ .checkmark{
    background-color: #dfdfdf;
    border-color: #5a32a3;
}
.checkbox-container input:checked ~ .checkmark {
  background-color: #5a32a3; 
  border-color: #5a32a3;
}
.checkmark:after{
    content:"";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
.checkbox-container .checkmark:after {
  left: 10px;
  top: 5px;
  width: 7px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.checkbox-container input:checked ~ .task-text {
  text-decoration: line-through;
  color: #888;
}
.checkbox-container2{
    border-radius: 8px;
    position: relative;
    transition: all 0.2 ease;
    top: 200px;
    left: 8px;
}
.checkbox-container2:hover input ~ .checkmark{
    background-color: #dfdfdf;
    border-color: #5a32a3;
}
.checkbox-container3{
    border-radius: 8px;
    position: relative;
    transition: all 0.2 ease;
    top: 200px;
    left: 8px;
}
.checkbox-container3:hover input ~ .checkmark{
    background-color: #dfdfdf;
    border-color: #5a32a3;
}
.checkbox-container input{
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}
.checkbox-container2 input{
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}
.checkbox-container3 input{
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}
.checkmark, .checkmark1 {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #f1efef;
  border-radius: 5px;
  margin-right: 12px;
  position: relative;
  top: 6px;
  left: 10px;
  transition: background-color 0.2s;
  border: 2px solid #ddd;
}
.checkbox-container input:checked ~ .checkmark::after,
.checkbox-container2 input:checked ~ .checkmark::after,
.checkbox-container3 input:checked ~ .checkmark::after {
  display: block;
}

.checkbox-container input:checked ~ .checkmark,
.checkbox-container2 input:checked ~ .checkmark,
.checkbox-container3 input:checked ~ .checkmark {
  background-color: #5a32a3;
  border-color: #5a32a3;
}
.checkmark::after{
    content: "";
    position: absolute;
    display:none;
    left: 8px;
    top: 4px;
    width: 6px;
    height: 11px;
    border:  solid #888;
    transform: rotate(45deg);
}
